<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Invoice Page</title>
    </head>

    <body>
        <form name="search" action="." method="post">
            <label>PRODUCT ID : </label>
            <input name=p_id type="text" required="required"/>

            <br/><br/>

            <label>PRODUCT NAME: </label>
            <input name=p_name type="text" size="60" required="required">

            <br/><br/>

            <label>PRODUCT DESCRIPTION: </label>
            <textarea rows = "5" cols = "60" name = "p_desc" required="required"></textarea>


            <br/><br/>
            <input type="submit" value="SUBMIT"/>

        </form>

    </body>
</html>